<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Judgemental Terra</title>
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Merriweather" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="/img/trump.png" rel="icon">
</head>
<body>
    <header>
        <img src="/img/trump.png" alt="Picture of Trump making a duckface" />
        <h1>Judgemental Terra</h1>
    </header>
</body>
</html>
