<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Judgemental Terra</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!--<link rel="stylesheet" type="text/css" href="style.css" />-->
</head>
<body>
    <header>
        <!--<img src="/img/judgemental-terra-logo-trans-02.png" />-->
        <h2>Let's talk sh*t about the 45th president of the United States, Donald J. Trump</h2>
    </header>
</body>
</html>
