<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Judgemental Terra</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <header>
        <h1>Judgemental Terra</h1>
        <img src="/img/judgemental-terra-logo-stars-01.png" />
        <h2>Donald Trump hatin' page</h2>
        <p>
            Let's talk sh*t about the 45th president of the United States
        </p>
    </header>
</body>
</html>
