<%- include('../partials/header.ejs') %>
<main>
    <h2>Let's talk sh*t about Donald J. Trump</h2>
    <form method="post" action="/" class="username-form">
        <div>
            <h3>Tell us who you are</h3>
            <label for="username">My name is</label>
            <input type="text" name="username" id="username" />
            <input type="submit" value="Enter our world" >
            <% if(message !== ''){ %>
                <p>
                    <%= message %>
                </p>
            <% } %>
        </div>
    </form>
</main>
<%- include('../partials/footer.ejs') %>
<script src="/js/username.js"></script>
